* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;

}

a {
	text-decoration: none;
}

.header {
	display: grid;
	height: 110vh;
}

.header nav {
	display: grid;
	grid-auto-flow: column;
	place-items: center center;
	background: #494949;

	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.logo img {
	height: 100px;
}

nav .links {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 50px;
}

nav .links a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.hero-image::before {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.hero-image {
	position: relative;
	/*height: 105vh;*/

	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-auto-flow: column;
}

.hero-image h1 {
	grid-row: 2 / 3;
	font-size: 6rem;
	color: #fff;
	text-transform: capitalize;
	margin-left: 50px;

}

.hero-image p {
	margin-left: 50px;
	margin-top: 25px;
	font-size: 1.8rem;
	color: #fff;
}

.action-link a {
	grid-row: 4 / 5;
	color: #363636;
	font-size: 2rem;
	margin-left: 50px;
	padding: 20px 40px;
	background-color: #f2bb55;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}

.about-yganico {
	height: 120vh;
	display: grid;
	grid-template-columns: 2fr 2.5fr;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
}

.about-left > * {
	margin-bottom: 50px;
}

.about-left {
	display: flex;
	flex-direction: column;
	margin-left: 65px;
	margin-top: 15px;
}

.about-left .left-p1 {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-left: 5px;
	color: ;

}

.about-left h2 {
	margin-top: -20px;
	font-size: 5.5rem;
	text-transform: capitalize;
}

.about-left .left-p2 {
	font-size: 1.6rem;
	line-height: 2;
}

.about-right img {
	height: 400px;
	width: 550px;
}

.gmo-products {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 600px;
	justify-items: center;
	margin-top: 100px;
	background: #f5f5f5;
}

.gmo-products i {
	color: #363636;
}

.gmo-img img {
	height: 525px;
	width: 550px;
}

.gmo-caption {
	display: grid;
	margin-right: 105px;
}

.gmo-caption .gmo-p1 {
	text-transform: uppercase;
	font-size: 1.4rem;
}

.gmo-caption h2 {
	font-size: 3rem;
	margin-top: -50px;
}

.gmo-certified,
.gmo-prices {
	display: flex;
	margin-top: -25px;
}

.gmo-certified .certified-icon,
.gmo-prices .prices-icon {
	font-size: 3rem;
	margin: 10px 20px;
}

.certified-caption h5,
.prices-caption h5 {
	text-transform: capitalize;
	font-size: 2.5rem;
	margin-bottom: 25px;
}

.certified-caption p,
.prices-caption p {
	font-size: 1.5rem;
	line-height: 1.5;
}

.yganico-products {
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

}

.products-titles {
	grid-column: 1 / 3;
	text-align: center;

	margin-top: 150px;
}

.products-titles p {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.products-titles h2 {
	font-size: 5rem;
	text-transform: uppercase;
}

.products-cards {
	grid-column: 1 / -1;

	display: grid;
	width: 85%;
	justify-self: center;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	margin-bottom: 20px;
}

.cards {
	text-align: center;
}

.cards > * {
	margin-bottom: 20px;
}

.cards i + p {
	font-size: 2.8rem;
	text-transform: capitalize;
}

.cards .fas {
	font-size: 8rem;
	color: #f2bb55;
}

.cards p + p {
	font-size: 1.5rem;
}


.yganico-testimonials {
	height: 120vh;

	display: grid;
	grid-template-rows: 0.5fr 1fr;
	background: #e0e0e0;
}

.testimonials-titles {
	text-align: center;
	margin-top: 200px;
}

.testimonials-titles p {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.testimonials-titles h2 {
	font-size: 5rem;
	text-transform: uppercase;
}


.testimonials-cards {
	display: grid;
	width: 1200px;
	height: 300px;
	margin-top: 50px;
	grid-template-columns: repeat(3, 1fr);
	justify-self: center;
	background: #fff;
}

.testimony {
	margin: 50px;
}

.testimony .fas {
	margin-bottom: 30px;
	font-size: 2.8rem;
	color: #f2bb55;
}

.testimony .fas + p {
	font-style: italic;
	margin-bottom: 25px;
}

.testimony p {
	font-size: 1.4rem;
}

.testimony .t-name {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.testimony .occupation {
	text-transform: capitalize;
}

.yganico-farmbox::before {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/weekly-mailbox.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.yganico-farmbox {
	height: 70vh;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.farmbox-titles p {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 20px;
	color: #f2bb55;
}

.farmbox-titles h2 {
	font-size: 4rem;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.farmbox-titles h2 + p {
	text-transform: initial;
	font-size: 1.5rem;
	margin-bottom: 30px;
	width: 720px;
}

.farmbox-titles h2,
.farmbox-titles h2 + p {
	color: #fff;
}

.farmbox-email input {
	width: 750px;
	padding: 15px;
	font-size: 1.5rem;
	margin-bottom: 40px;
	border: none;
}

.send-request a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
	padding: 20px 35px;
	background: #f6ff91;
	color: #595959;
}

.yganico-gallery {
	display: grid;
	height: 250vh;
	grid-template-rows: 0.5fr 1fr;
}

.yganico-gallery img {
	height: 345px;
	width: 350px;
}

.gallery-titles {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
}

.gallery-titles p {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.gallery-titles h2 {
	font-size: 4rem;
	text-transform: uppercase;
}

.gallery-container {
	display: grid;
	width: 80vw;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px 20px;
	justify-items: center;
	margin: 0 auto;
}

.yganico-footer {
	display: grid;
	grid-template-rows: 1fr 0.1fr;

	background-color: #494949;
}

.footer-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.1fr 1fr 0.2fr;
	place-items: center center;
}

.first-col,
.quick-links,
.contact-info {
	grid-row: 2 / 3;
}

.first-col {
	margin-left: 100px;
}

.first-col img {
	width: 320px;
	height: 120px;
	margin-bottom: 10px;
}

.first-col p {
	font-size: 1.3rem;
	color: #a6a6a6;
	margin-bottom: 25px;
	line-height: 1.5;
}

.first-icons .fab {
	color: #fff;
	font-size: 1.5rem;
	margin-right: 25px;
}

.quick-links {
	color: #a6a6a6;
	margin-top: 30px;
}

.quick-links p {
	font-size: 2.7rem;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.quick-links ul {
	position: relative;
	list-style: none;
}

.quick-links li::before {
	content: "▶";
	position: absolute;
	left: 0;
}

.quick-links li {
	font-size: 1.6rem;
	margin-bottom: 10px;
}

.quick-links a {
	text-decoration: none;
	color: #a6a6a6;
	text-transform: capitalize;
	margin-left: 20px;
}

.contact-info {
	margin-top: 70px;
	width: 60%;
}

.contact-info p:first-child {
	font-size: 2.7rem;
	text-transform: capitalize;
	margin-bottom: 15px;
	color: #a6a6a6;
}

.contact-info i + p {
	text-transform: uppercase;
}

.contact-info i + p + p {
	margin: 15px 0;
	color: #fff;
	font-size: 1.5rem;
}

.contact-info i,
.contact-info i + p {
	display: inline;
	font-size: 1.6rem;
	color: #f2bb55;
}

.ci-address p ~ p,
.ci-phone p ~ p,
.ci-email p ~ p {
	font-size: 1.3rem;
}

.yganico-footer .footer-bottom {
	background-color: #262626;
	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom .yganico-rights {
	margin-left: 90px;
	font-size: 1.3rem;
	text-transform: capitalize;
}

.footer-bottom .yganico-links {
	margin-right: 120px;
}

.footer-bottom .yganico-links i {
	margin-right: 20px;
	font-size: 1.30rem;
}
